@font-face {
    font-family: 'japanese';
    src: url('/fonts/NSJP/NotoSansJP-Regular.woff2') format('woff2'),
         url('/fonts/NSJP/NotoSansJP-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'robot_font';
    src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'rubik_font';
    src: url('/fonts/Rubik/RubikGemstones-Regular.ttf') format('truetype');
}

.displayjp {
    font-family: 'japanese', Verdana, Geneva, Tahoma, sans-serif;
}

.displayrb {
    font-family: 'robot_font', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.displayrubik {
    font-family: 'rubik_font';
}

.displayla {
    font-family: 'La Belle Aurore';
}