@font-face {
    font-family: 'japanese';
    src: url('/fonts/NSJP/NotoSansJP-Regular.otf') format('opentype'),
         url('/fonts/NSJP/NotoSansJP-Regular.woff2') format('woff2');
}

.displayjp {
    font-family: 'japanese', Verdana, Geneva, Tahoma, sans-serif;
}